@model CPMSDbFirst.Models.Reviewer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reviewer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReviewerId" />
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleInitial" class="control-label"></label>
                <input asp-for="MiddleInitial" class="form-control" />
                <span asp-validation-for="MiddleInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Affiliation" class="control-label"></label>
                <input asp-for="Affiliation" class="form-control" />
                <span asp-validation-for="Affiliation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AnalysisOfAlgorithms" /> @Html.DisplayNameFor(model => model.AnalysisOfAlgorithms)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Applications" /> @Html.DisplayNameFor(model => model.Applications)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Architecture" /> @Html.DisplayNameFor(model => model.Architecture)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ArtificialIntelligence" /> @Html.DisplayNameFor(model => model.ArtificialIntelligence)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ComputerEngineering" /> @Html.DisplayNameFor(model => model.ComputerEngineering)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Curriculum" /> @Html.DisplayNameFor(model => model.Curriculum)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DataStructures" /> @Html.DisplayNameFor(model => model.DataStructures)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Databases" /> @Html.DisplayNameFor(model => model.Databases)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DistanceLearning" /> @Html.DisplayNameFor(model => model.DistanceLearning)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DistributedSystems" /> @Html.DisplayNameFor(model => model.DistributedSystems)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EthicalSocietalIssues" /> @Html.DisplayNameFor(model => model.EthicalSocietalIssues)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FirstYearComputing" /> @Html.DisplayNameFor(model => model.FirstYearComputing)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GenderIssues" /> @Html.DisplayNameFor(model => model.GenderIssues)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GrantWriting" /> @Html.DisplayNameFor(model => model.GrantWriting)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GraphicsImageProcessing" /> @Html.DisplayNameFor(model => model.GraphicsImageProcessing)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HumanComputerInteraction" /> @Html.DisplayNameFor(model => model.HumanComputerInteraction)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LaboratoryEnvironments" /> @Html.DisplayNameFor(model => model.LaboratoryEnvironments)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Literacy" /> @Html.DisplayNameFor(model => model.Literacy)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MathematicsInComputing" /> @Html.DisplayNameFor(model => model.MathematicsInComputing)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Multimedia" /> @Html.DisplayNameFor(model => model.Multimedia)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NetworkingDataCommunications" /> @Html.DisplayNameFor(model => model.NetworkingDataCommunications)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NonMajorCourses" /> @Html.DisplayNameFor(model => model.NonMajorCourses)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ObjectOrientedIssues" /> @Html.DisplayNameFor(model => model.ObjectOrientedIssues)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OperatingSystems" /> @Html.DisplayNameFor(model => model.OperatingSystems)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ParallelProcessing" /> @Html.DisplayNameFor(model => model.ParallelProcessing)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pedagogy" /> @Html.DisplayNameFor(model => model.Pedagogy)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProgrammingLanguages" /> @Html.DisplayNameFor(model => model.ProgrammingLanguages)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Research" /> @Html.DisplayNameFor(model => model.Research)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Security" /> @Html.DisplayNameFor(model => model.Security)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SoftwareEngineering" /> @Html.DisplayNameFor(model => model.SoftwareEngineering)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SystemsAnalysisAndDesign" /> @Html.DisplayNameFor(model => model.SystemsAnalysisAndDesign)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UsingTechnologyInTheClassroom" /> @Html.DisplayNameFor(model => model.UsingTechnologyInTheClassroom)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WebAndInternetProgramming" /> @Html.DisplayNameFor(model => model.WebAndInternetProgramming)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Other" /> @Html.DisplayNameFor(model => model.Other)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OtherDescription" class="control-label"></label>
                <input asp-for="OtherDescription" class="form-control" />
                <span asp-validation-for="OtherDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewsAcknowledged" class="control-label"></label>
                <input asp-for="ReviewsAcknowledged" class="form-control" />
                <span asp-validation-for="ReviewsAcknowledged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
